<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="LMSDB" connectionString="Data Source=localhost;Initial Catalog=LMS_DB;Integrated Security=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.8" />
		<httpRuntime maxRequestLength="10240" executionTimeout="3600" />
		<authentication mode="None" />
		<authorization>
			<allow users="*" />
		</authorization>
		<customErrors mode="Off" />
	</system.web>
	<system.webServer>
	</system.webServer>
</configuration>